#!/usr/bin/make -f

#export DH_VERBOSE=1

# For Hardening
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk


%:
	dh $@;

override_dh_auto_configure:
	./bootstrap.sh
	./configure --prefix=/usr --sysconfdir=/etc

override_dh_auto_install:
	dh_auto_install
	mv debian/fcoe-utils/lib/systemd/system/fcoe.service debian/fcoe-utils/lib/systemd/system/fcoe-utils.service

override_dh_installinit:
	dh_installinit -u 'start 45 S . stop 81 0 1 6 .' --no-start

override_dh_auto_clean:

	[ ! -f Makefile ] || make clean;

	# Remove the broken links
	rm -f compile depcomp install-sh missing ar-lib Makefile.in aclocal.m4 configure Makefile config.* *.spec
	rm -f include/fcoe_utils_version.h lib/.dirstamp
	dh_auto_clean

override_dh_missing:
	dh_missing --fail-missing
